/* Page Navi*/
.wp-pagenavi {padding:20px 0 0; font-size:12px; font-weight:bold; display:block; text-align:right; margin-bottom:20px;}
.wp-pagenavi .pages{padding-right:10px;}
.wp-pagenavi a, .wp-pagenavi a:visited{padding:3px 7px; margin:0 4px;}
.wp-pagenavi .current{padding:3px 7px; margin:0 4px;}



/* BLOG */
.post{margin-bottom:55px; }
.single .post{ margin-bottom:20px;}
.post .header-wrapper{ padding-left:80px; }

.posttitle, .posttitle a{font-size:18px; font-weight:normal; font-style:normal;}
.posttitle a:hover{text-decoration:none;}

.postimg{ margin-bottom:19px;}

.entry-utility{padding:3px 0 5px 0; clear:both; font-size:11px; font-style:italic;}

.post .date-wrapper{ float:left; text-align:center; width: 60px; margin-right:20px;}
.post .date-wrapper .date-value {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}
.post .date-wrapper .month-value {
    font-size: 18px;
    margin-bottom: 5px;
}
.post .date-wrapper .year-value {
    font-size: 14px;
}

.single .date-wrapper{ text-align:left}

.entry-content { overflow:hidden;}

.entry-content .entry-utility{ padding-top:0px;}

.author{ padding:15px 20px 9px; margin-bottom:45px;}
.author h3{ font-weight:normal;}

.related-post{margin-bottom:20px; float:left}

#comment h3{ display:block;}
.commentlist{
	list-style-type:none;
	padding:0;
	margin:0;
}
.commentlist ol{
	list-style-type:none;
	padding:30px 0 0 80px;
	margin:0;
}

.commentlist li{
	position:relative;
	padding:0 0 30px 0;
}
.commentlist li li{
	position:relative;
	padding:0;
}


.avatar-img{
	position:absolute;
	top:0px;
	left:0px;

}
.avatar{display:block}
.fn{font-size:12px; display:block; font-weight:bold;}

.commenttext{ padding-top:10px; margin-top:15px;}
.tdate, .reply{ font-size:11px;}
.reply a, .reply a:visited{}
.reply a:hover{text-decoration:underline;}
.fn a, .fn a:visited{}

.comment-body{margin:0 0 0 0px; padding:18px; margin-left:80px;}
.comment-body p{ margin-bottom:5px; margin-top:10px;}
.comment-body .more{ padding:0px 0px;}
.comment-arrow{ width:8px; height:18px; position:absolute; left:72px; top:10px;}
#commentform {margin-bottom:20px}
#commentform label{display:block}
#commentform .text-input{
	margin-bottom:8px;
	padding:8px 5px;
	vertical-align:middle;
}
#commentform .textarea{
	margin-bottom:20px;
	padding:8px 5px;
	vertical-align:top;
}

/* PORTFOLIO */

/*======= Portfolio Navigation =======*/
#frame-filter{ margin:0px auto 10px auto;  }
#filter{list-style-type:none; padding:0px 0px;	margin:0px;}
#filter li{list-style-type:none; display:inline-block; margin-right:4px; margin-bottom:10px; }
#filter li a, #filter li a:visited{ padding:8px 10px; }
#filter li.current{ padding-bottom:12px!important;}
/*======= End Portfolio Navigation =======*/

.ts-display-pf-img{position:relative;}
.ts-display-clear{clear:both; height:1px !important; line-height:1px !important; float:none!important}
.ts-display-pf-text{padding:15px 18px 16px 18px; text-align:center}
.ts-display-pf-text h2{	font-size:12px; margin-bottom:0px;}

.ts-display-pf-img a.image img{ display:block;}
.ts-display-pf-img{
	overflow:hidden;
	display:block;	
	position:relative;
}
.ts-display-pf-img a.image{
	display:block;
	position:relative;
	overflow:hidden;
}
.ts-display-pf-img a .rollover{
	background:url(../images/hover-zoom.png);
	background-color:#000;
	background-repeat:no-repeat;
	background-position:center;
	display:block;
    position:absolute;
	z-index:10;
	display:none;
	cursor:pointer;
	width:100%;
	height:100%;
}
.ts-display-pf-img a .rollover.gotolink{
	background:url(../images/hover-link.png);
	background-color:#000;
	background-repeat:no-repeat;
	background-position:center;
}
.ts-display-pf-img a .rollover.gotopost{
	background:url(../images/hover-doc.png);
	background-color:#000;
	background-repeat:no-repeat;
	background-position:center;
}


/* ---------------------------- */
/*       Isotope plugin
/* ---------------------------- */

.isotope-item {
	z-index: 2;
}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

.isotope,
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-o-transition-property: top, left, opacity;
	transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}

/* End: Recommended Isotope styles */


/* CONTACT */
form{margin:0; padding:0;}
fieldset{border:0px;}
#contactform{margin:0 auto; position:relative; }
#contactform label{display:block; width:100%; float:left; padding-bottom:5px;}
span.error{color:red;text-align:left; font-size:11px; padding-bottom:15px; display:block;}
#contactform input.text-input{
	margin-bottom:15px;
	vertical-align:middle;
	width:60%;
	float:left;
	padding:10px;
}
#contactform textarea{ width:93%; float:left;} 
#message{ margin-left:0px; font-weight:bold;}
#message h2	{}
#message p{margin:6px 0px; }

#contactform .button{
	cursor:pointer;
	margin-top:20px;
	float:left;
 }
